:local(.Vision) {
  width: 100vw;
  height: 100vh;
}

:local(.title) {
  color: purple;
  opacity: .6;
  font-size: 12rem;
  text-transform: lowercase;
  position: fixed;
  top: -.1rem;
  right: 1rem;
}

:local(.content) {
  padding: 3rem;

  p {
    color: #423321;
  }

  p:nth-child(1) {
    font-size: 2rem;
    line-height: 2rem;
    color: teal;
    position: relative;
    left: -2rem;
    margin-top: 0;

    strong {
      font-size: 3rem;
      line-height: 3rem;
      display: block;
    }
  }
}
